/* common styles */
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Work Sans', sans-serif;
}

.btn-white{
    padding: 20px 25px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: #005FAC;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

/* banner styles */
.banner-container{
    background-image: url("../images/banner/banner3.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-right: auto;
    display: flex;
    justify-content: end;
    align-items: center;
}

.banner-text-container{
    max-width: 40%;
    color: white;
    text-align: right; 
    margin-right: 150px;
}

.banner-title > h1{
    font-size: 65px;
    font-weight: 700;
}

.banner-text{
    margin: 10px 0px 20px 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}


